/* Footer
----------*/

div#footer {
  margin:0;
  padding:3.0303% 0 6.0606% 0;
	border-top:2px solid #eee;
}

div#footer div.block-menu-block {
  clear:left;
  float:left;
  margin:0 3.0303%;
  padding:0;
}
div#footer div.block-menu-block ul {
  margin:0;
  padding:0;
  line-height:20px;
  font-size:16px;
}
div#footer div.block-menu-block ul li {
  float:left;
  margin:0 5px 0 0;
  padding:0;
  list-style:none;
}
div#footer div.block-menu-block ul li.last {
  margin-right:0;
}
div#footer div.block-menu-block ul li a {
  float:left;
  padding:5px;
}
