/* Header
----------*/

div#header {
  position:relative;
  margin:0;
  padding:3.0303% 0;
	border-bottom:2px solid #eee;
}

a#logo {
  float:left;
  margin:0 3.0303%;
  width:21.2121%;
  min-width:120px;
}
a#logo img {
  float:left;
	border:1px solid #d4d4d4;
}

div#header div.block-menu-block,
div#header nav {
  clear:right;
  float:right;
  margin:0;
  padding:24px 3.0303% 0 3.0303%;
}
div#header div.block-menu-block ul,
div#header nav ul {
  margin:0;
  padding:0;
  line-height:20px;
  font-size:16px;
}
div#header div.block-menu-block ul li,
div#header nav ul li {
  float:left;
  margin:0 5px 0 0;
  padding:0;
  list-style:none;
}
div#header div.block-menu-block ul li.last,
div#header nav ul li.last {
  margin-right:0;
}
div#header div.block-menu-block ul li a,
div#header nav ul li a {
  float:left;
  padding:5px;
}
div#header div.block-menu-block ul li a.active,
div#header nav ul li a.active,
div#header div.block-menu-block ul li a.active-trail,
div#header nav ul li a.active-trail {
  color:#000;
}

/* Drop down menu */

div#header div.block-menu-block ul li.expanded ul.menu {
  display:none;
  position:absolute;
  top:55px;
  width:210px;
  padding:0;
  z-index:10;
  background:#f4f4f4;
}
div#header div.block-menu-block ul li.expanded:hover ul.menu {
  display:block;
}
div#header div.block-menu-block ul li.expanded ul.menu li {
  display:block;
  float:none;
}
div#header div.block-menu-block ul li.expanded ul.menu li a {
  display:block;
  padding:10px;
}
div#header div.block-menu-block ul li.expanded ul.menu li a:hover {
}

/* END Drop down menu */

div#header form {
  clear:right;
  float:right;
  margin:0;
  padding:24px 3.0303% 0 3.0303%;  
}
div#header form div.form-actions,
div#header form div.form-item {
  margin:0;
  float:left;
}
.views-exposed-form .views-exposed-widget {
  padding:0;
}
div#header form input {
  margin:0;
}
div#header form div.form-item input[type="text"] {
  padding:2px;
}